# Source files
src/**
.git/**
.github/**
out/**
node_modules/**
.gitignore
tsconfig.json
webpack.config.js
.eslintrc.json
.vscode-test/**
.vscode/**
.vscode/project-files.md


# Tests
test/**
**/test/**
**/*.js.map

# Development files
.editorconfig
.prettierrc
.eslintignore
.eslintrc.*
.travis.yml
.azure-pipelines.yml
.gitlab-ci.yml
.npmrc

# Misc
**/*.vsix
**/*.map
**/*.ts
!**/*.d.ts
.yarnrc
yarn.lock
yarn-error.log
.npmignore
package-lock.json
*.afdesign